<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.FileMapper">

    <insert id="uploadFile" parameterType="MyFile">
        insert into file(username,size,fakename) values(#{username},#{size},#{fakename})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>

    <update id="updateFile" parameterType="MyFile">
        update file set filename=#{filename}, path=#{path} where id=#{id}
    </update>

    <select id="listFile" resultType="MyFile">
        select id,filename,username,size,path,fakename from file where username=#{username}
    </select>

    <delete id="deleteFile" parameterType="int">
        delete from file where id=#{id}
    </delete>

    <select id="findFileByNameAndUsername" resultType="MyFile">
        select id, username, size, filename, path, fakename from file where filename=#{filename} and username=#{username}
    </select>

    <select id="findFile" resultType="MyFile">
        select id,filename,username,size,path,fakename from file where id=#{id};
    </select>

    <delete id="deleteFileByName">
        delete from file where filename=#{filename}
    </delete>
</mapper>